body{
    background-color: #FFCBCB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.taskContainer{
    flex-direction: column;
    height: 600px;
    width: 900px;
    background-color: #DAC0A3;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    display: flex;
    align-items: center;
  
}
.taskList{
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
}
.taskList::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .taskList {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.title{
    font-size: 40px;
    padding: 18px;
    color: #481E14;
}
.taskInput{
    padding: 10px;
}
.taskInput input{
    padding: 15px;
    width: 800px;
    height: 15px;
    border-radius: 20px;
    border: none;
}
.inputButton{
    padding: 20px;
}
.inputButton input{
    width: 140px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}
.seperator{
    width: 889px;
    background-color: white;
    height: 1px;
    margin: 20px;
}
