body{
    background-color: #FFCBCB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.taskContainer{
    height: 600px;
    width: 900px;
    background-color: #DAC0A3;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    display: flex;
    justify-content: center;
}
.title{
    font-size: 40px;
    padding: 18px;
}