.task{
    width: 870px;
    height: 100px;
    background-color: #9195F6;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 10px;
    transition: 0.2s;
}
.taskName{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.task:hover{
    box-shadow: 0 5px 10px black;
    scale: 1.008;
}

.deleteBtn button{
    background-color: #B7C9F2;
    font-size: 15px;
    width: 120px;
    height: 45px;
    margin: 10px;
    border: none;
    transition: 0.2s;
}
.deleteBtn button:active{
    scale: 0.8;
}
.done input{
    margin: 10px;
    height: 25px;
    width: 25px;
}